*{
    color:rgb(50, 66, 128);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{

    color: #608ba1;
}

h3{
    color: rgb(6, 22, 44);
}

h1{
    color: rgb(42, 63, 165);
}

#sports{
    background-color: #adc1df;
}

#economy{
    background-color: #adc1df;
}

body > header{
    background-color: darkolivegreen;
    padding: 16px;
}

header li{
    display: inline;
}

header .container{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.container{
    width: 1264px;
    margin: 0, auto, 0, auto;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article{
width: 30%;
}

section{
    padding: 16px;
}

section h2,.articles article {
    margin-bottom: 16px;
}
.articles article h3{
    margin-top: 16px;
    margin-bottom: 16px;
}